<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav>
    <h1> <a href="/"> Homepage</a></h1>
    <p>Good Day All <br>
        I am Christiana agbai <br>I am Christiana agbai</p>

    <h1> <a href="/contact"> contact</a></h1>
    <p> Hello Everyone. You can reach out to me through my gmail account</p>
    <label for="Gmail">Gmail Address</label>
    <input type="email" id="Gmail" name="Gmail" value="agbaichristiana@gmail.com">

    <h1> <a href="/services"> service</a></h1>
    <p> I offer all solutions on Full Stack Development</p>
</nav>
<h1> Contact us</h1>

</body>
</html>